- no_goals = true
- @tracks[1..-2].each do |track|
  - if track.goal[:stories] and track.goal[:stories].to_i > 0
    - no_goals = false
    - if track.stories[:done].count >= track.goal[:stories].to_i
      %span.checkmark
    - else
      %span.exclamation
    %p(style='margin:0; float:left') 
      #{track.name}: 
      = "#{track.stories[:done].count} of #{pluralize(track.goal[:stories], 'story')} done"
    %div(style='clear:both;')

  - if track.goal[:points] and track.goal[:points].to_i > 0
    - no_goals = false
    - if track.stories[:done].points >= track.goal[:points].to_i
      %span.checkmark
    - else
      %span.exclamation
    %p(style='margin:0; float:left') 
      #{track.name}: 
      = "#{track.stories[:done].points} of #{pluralize(track.goal[:points], 'point')} done"
    %div(style='clear:both;')

- if no_goals
  %p(style='margin:0')
    = link_to 'Set up', edit_project_tracks_path(@project_id)
    some goals!
