%div#topnav
  %p#global
    %span#logo 
      = link_to 'Tracker Dashboard', projects_path

  %p#page-actions
    - if local_assigns[:project]
      %span#projects(style='display:inline')
        = link_to project.name, projects_path
        - if local_assigns[:projects]
          = image_tag "down_arrow.png"
        - else
          %font(style='display:inline-block;width:9px')
      - if active_tab == "current"
        %span.tab-active#current
          = link_to 'Current', project_path(project.id)
        %span.tab-inactive#snapshots
          = link_to 'Snapshots', project_snapshots_path(project.id)
      - else
        %span.tab-inactive#current
          = link_to 'Current', project_path(project.id)
        %span.tab-active#snapshots
          = link_to 'Snapshots', project_snapshots_path(project.id)

  %p#site-actions
    %span#admin
      = link_to 'Feedback', 'https://github.com/jimlindstrom/Tracker-Dashboard/issues/new'
    - if !current_user.nil?
      %span#admin
        - if current_user.is_admin
          = link_to 'Admin', admin_path
      %span#signout
        = link_to 'Sign Out', signout_path


- if local_assigns[:projects]
  %ul#projects-dropdown.dropdown
    - projects.each do |cur_project|
      %li= link_to cur_project.name, project_path(cur_project.id)

%div.clearboth
