= render :partial => "shared/top_nav", :locals => {  }

%div#promo(style='padding-left:30px; padding-top:5px; float:left')
  %p(style='font-weight: bold; font-size:150%') Monitor goals and red flags across projects
  %p
    =image_tag 'list_of_projects.png', { :width => "#{0.65*827}px", :height => "#{0.65*119}px" }

  %p(style='margin-top: 20px; font-weight: bold; font-size:150%') Track progress across parallel tracks
  %p
    =image_tag 'project_page.png', { :width => "#{0.65*828}px", :height => "#{0.65*404}px" }

%div#login-form(style='padding:35px 0 0 60px;float:left')
  =form_for :session, :url => '/signin' do |f|
    %table#dashboard
      %tbody
        %tr
          %td(colspan='2' style='font-weight:bold')
            Please log in with your 
            = link_to 'Pivotal Tracker', 'http://pivotaltracker.com/'
            account:
        - if flash[:notice]
          %tr.flash
            %td(colspan='2')
              Invalid username or password
        %tr.separator
          %td
          %td
        %tr
          %th
            Username/Email
          %td
            =f.text_field :username, { :class => 'focus' }
        %tr
          %th
            Password
          %td
            =f.password_field :password
        %tr.separator
          %td
          %td
            =f.submit 'Sign in'
  
%div.sourcecode(style='font-size:70%;')= link_to 'Source code', 'http://github.com/jimlindstrom/Tracker-Dashboard'
