- tracks.each do |track|
  - track.stories.each do |story_type, cur_stories|
    %div.storylist
      %p.title{ :id => track.name + "_" + String(story_type) }
        = track.name
        = ":"
        = String(story_type)
        %span.toplink
          &uarr;
          = link_to 'Top', '#top'
      - cur_stories.each do |cur_story|
        = render :partial => "shared/story", :locals => { :story => cur_story }
