- tracks.each do |track|
  - track.stories.each do |story_type, cur_stories|
    %div.storylist
      %p.title{ :id => track.name + "_" + String(story_type) }
        = track.name
        = ":"
        = String(story_type)
      - cur_stories.each do |cur_story|
        %p.story
          = render :partial => "story_type", :locals => { :story => cur_story }
          = render :partial => "story_estimate", :locals => { :story => cur_story }
          %span.labels
            = cur_story.labels
          %span.name
            = cur_story.name
            = surround " (", ")" do
              = link_to "link", cur_story.url
