%table
  %tr
    %td.track
      %p.track_no_underline
    
      %p.label
      %p.budget
        = "Budget#{budget_date}"
        = surround '(', ')' do
          - if @iter_stats.all_tracks.count > 2
            = link_to 'edit', edit_project_path(@project.id)
          - else
            = link_to 'edit', edit_project_path(@project.id), { :class => 'reverse_tooltip tooltip_default_on',  :title => 'You haven\'t enabled any tracks for this project yet.<br /><br />Click here to get started!' }
    
      %p.done Done
      %p.wip
        WIP
        = render :partial => "tooltip", :locals => { :tooltip_text => 'Stories that are started, finished, delivered, or rejected.' }
      %p.scheduled Scheduled
    
      %p.blocked Blocked
      %p.unestimated Unestimated

      %p.unplanned 
        Unplanned
        = render :partial => "tooltip", :locals => { :tooltip_text => 'Based on the \'added_midweek\' label' }
      %p.unmet_reqs 
        Unmet Promises 
        = render :partial => "tooltip", :locals => { :tooltip_text => 'Based on the \'!shipthisweek!\' label' }

    - tracks.each do |track|
      %td.track
        %p.track= track.name
    
        %p.label
          %span.stories Stories
          %span.points Points
        %p.budget
          %span.stories= track.budget[:stories]
          %span.points=  track.budget[:points]
     
        %p.done=        render :partial => "track_story", :locals => { :track=>track, :key=>:done        }
        %p.wip=         render :partial => "track_story", :locals => { :track=>track, :key=>:wip         }
        %p.scheduled=   render :partial => "track_story", :locals => { :track=>track, :key=>:scheduled   }

        %p.blocked=     render :partial => "track_story", :locals => { :track=>track, :key=>:blocked     }
        %p.unestimated= render :partial => "track_story", :locals => { :track=>track, :key=>:unestimated }

        %p.unplanned=   render :partial => "track_story", :locals => { :track=>track, :key=>:unplanned   }
        %p.unmet_reqs=  render :partial => "track_story", :locals => { :track=>track, :key=>:unmet_reqs  }
