%div#top(style='height:0;width:0;')
= render :partial => "shared/top_nav", :locals => { :project => @project, :projects => @projects, :active_tab => "current" }

%div#content
  
  %h3 Editing Tracks &amp; Goals
  = form_for @project_settings, :url => project_path(@project.id) do |f|
    %table
      %tr
        %th Label
        %th Enabled?
        %th Goal (Stories)
        %th Goal (Points)
      = f.fields_for :tracks do |t|
        %tr
          %td= t.text_field :label
          %td= t.check_box :enabled
          %td= t.text_field :goal_stories
          %td= t.text_field :goal_points
    = f.submit "Update"
    
