= render :partial => "shared/top_nav"
%div#content
  
  %h3 My Projects
  %table.pretty
    %tr
      %th(style='width:150px') Project
      %th(style='width:325px') Goals
      %th(style='width:240px') Red Flags
    - @projects.each do |project|
      %tr
        %td(style='vertical-align:top')
          = link_to project.name, project_path(project.id)
        %td.project-goals{ :data => { :project_id =>"#{project.id}" } }
          = image_tag "animated_loading.gif"
          %font(color='#808080') Loading...
        %td.project-red-flags{ :data => { :project_id =>"#{project.id}" } }
          = image_tag "animated_loading.gif"
          %font(color='#808080') Loading...
  
%div.sourcecode(style='font-size:70%;')= link_to 'Source code', 'http://github.com/jimlindstrom/Tracker-Dashboard'
