%div#top(style='height:0;width:0;')
= render :partial => "shared/top_nav"

%div#content
  %h3.breadcrumbs
    = link_to 'All Projects', projects_path
    = " » "
    = @project.name
    = surround '(', ')' do
      - if @iter_stats.all_tracks.count > 2
        = link_to 'edit', edit_project_path(@project.id)
      - else
        = link_to 'edit', edit_project_path(@project.id), { :class => 'reverse_tooltip tooltip_default_on',  :title => 'You haven\'t enabled any tracks for this project yet.<br /><br />Click here to get started!' }
  
  = render :partial => "tracks", :locals => { :tracks => @iter_stats.all_tracks, :budget_date => @budget_date }
  
  = render :partial => "stories", :locals => { :tracks => @iter_stats.all_tracks }

%div#preload(style='display:none;')
  = image_tag("black_arrow.png")
