= render :partial => "shared/top_nav"

%h3.breadcrumbs
  = link_to 'All Projects', projects_path
  = " » "
  = @project_name 

= render :partial => "tracks", :locals => { :tracks => @iter_stats.all_tracks }

= render :partial => "stories", :locals => { :tracks => @iter_stats.all_tracks }
