%div#top(style='height:0;width:0;')
= render :partial => "shared/top_nav"

%div#content
  %h3.breadcrumbs
    = link_to 'All Projects', projects_path
    = " » "
    = @project.name 
  
  = render :partial => "tracks", :locals => { :tracks => @iter_stats.all_tracks, :budget_date => @budget_date }
  
  = render :partial => "stories", :locals => { :tracks => @iter_stats.all_tracks }

%div#preload(style='display:none;')
  = image_tag("black_arrow.png")
