%div#top(style='height:0;width:0;')
= render :partial => "shared/top_nav"

%div#content
  %ul#breadcrumbs
    %li= link_to 'All Projects', projects_path
    %li= link_to @project.name, project_path(@project.id)
    %li= "Snapshots"
  %div(style='clear:both;height:0px')
  
  %h3 Snapshots

  %ul
    %li= link_to "Create new snapshot", new_project_snapshot_path(@project.id)
    - @snapshots.each do |snapshot|
      %li= link_to snapshot.timestamp, project_snapshot_path(@project.id, snapshot.id)

