%div#top(style='height:0;width:0;')
= render :partial => "shared/top_nav", :locals => { :project => @project, :active_tab => "snapshots" }

%div#content
  %table
    %tr
      %td#snapshot-stories(style='width: 50%; vertical-align: top;')
        %p(style='font-weight: bold; width: 100%; text-align: center;') 
          Snapshot taken on
          %select#list-of-snapshots{:onchange=>'window.location = this.options[selectedIndex].getAttribute("data-url");'}
            - @snapshots.each do |snapshot|
              - if snapshot.id == @snapshot.id
                %option{:selected=>'true', 
                        :data=>{:url=>project_snapshot_path(@project.id, snapshot.id)}}= snapshot.timestamp
              - else
                %option{:data=>{:url=>project_snapshot_path(@project.id, snapshot.id)}}= snapshot.timestamp
          = surround "(", ")" do
            = link_to 'Create new snapshot', new_project_snapshot_path(@project.id)

        - @snapshot.stories.each do |cur_story|
          = render :partial => "shared/story_with_highlighting", :locals => { :story => cur_story }
      %td#current-stories(style='width: 50%; vertical-align: top;')
        %p(style='font-weight: bold; width: 100%; text-align: center;') Now

        - @cur_stories.each do |cur_story|
          = render :partial => "shared/story_with_highlighting", :locals => { :story => cur_story }

%div.fixed#snapshot-up
  %p &uarr; Story is above 
%div.fixed#snapshot-notfound
  %p Story added since snapshot
%div.fixed#snapshot-down
  %p &darr; Story is below

%div.fixed#current-up
  %p &uarr; Story is above 
%div.fixed#current-notfound
  %p Story moved/deleted
%div.fixed#current-down
  %p &darr; Story is below
